<a href="https://colab.research.google.com/github/jnsbrdbr/andrew-ng/blob/master/similarities.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
path = "/content/drive/MyDrive/test/test10.csv"
data = pd.read_csv(path)

In [4]:
path_label = "/content/drive/MyDrive/test/label_test10_10.csv"
data_label = pd.read_csv(path_label)

In [5]:
data

   src  dst
0    1    2
1    1    4
2    3    4
3    3    5
4    5    6
5    5   10
6    5   12
7    5   14

In [6]:
#d = dict.fromkeys(data.select_dtypes(np.int64).columns, np.int32)
#data = data.astype(d)
#data.src

In [7]:
#data.dst

In [8]:
#adjucency matrix without chunking
adjc = pd.crosstab(data.src, data.dst)
idx = adjc.columns.union(adjc.index)
up_adj_mtx = adjc.reindex(index = idx, columns=idx, fill_value=0)

In [9]:
adj=up_adj_mtx
for i in adj:
  for j in adj:
    if(adj[i][j]!=0):
       adj[j][i]=adj[i][j]

adj

    1   2   3   4   5   6   10  12  14
1    0   1   0   1   0   0   0   0   0
2    1   0   0   0   0   0   0   0   0
3    0   0   0   1   1   0   0   0   0
4    1   0   1   0   0   0   0   0   0
5    0   0   1   0   0   1   1   1   1
6    0   0   0   0   1   0   0   0   0
10   0   0   0   0   1   0   0   0   0
12   0   0   0   0   1   0   0   0   0
14   0   0   0   0   1   0   0   0   0

In [10]:
import pandas as pd
store = pd.HDFStore('/content/drive/MyDrive/thesis_data/Tendata.h5')

store['adj'] = adj
store.close()

In [11]:
adjList=list(adj.columns)
print(adjList)
print(len(adjList))

[1, 2, 3, 4, 5, 6, 10, 12, 14]
9

In [12]:
labelList=list(data_label['id'])
print(labelList)
#print(len(labelList))

[1, 5, 6]

In [13]:
def elm_exists(list_little, list_big):
    result=[]
    for elm in list_big:
        if elm in list_little:
            result.append(0)
        else:
            result.append(1)
    return result

In [14]:
res=elm_exists(labelList,adjList)

In [15]:
print(res)
#print(len(res))

[0, 1, 1, 1, 0, 0, 1, 1, 1]

In [16]:
import copy
adjl=copy.deepcopy(adj)

In [17]:
adj

    1   2   3   4   5   6   10  12  14
1    0   1   0   1   0   0   0   0   0
2    1   0   0   0   0   0   0   0   0
3    0   0   0   1   1   0   0   0   0
4    1   0   1   0   0   0   0   0   0
5    0   0   1   0   0   1   1   1   1
6    0   0   0   0   1   0   0   0   0
10   0   0   0   0   1   0   0   0   0
12   0   0   0   0   1   0   0   0   0
14   0   0   0   0   1   0   0   0   0

In [18]:
adjl

    1   2   3   4   5   6   10  12  14
1    0   1   0   1   0   0   0   0   0
2    1   0   0   0   0   0   0   0   0
3    0   0   0   1   1   0   0   0   0
4    1   0   1   0   0   0   0   0   0
5    0   0   1   0   0   1   1   1   1
6    0   0   0   0   1   0   0   0   0
10   0   0   0   0   1   0   0   0   0
12   0   0   0   0   1   0   0   0   0
14   0   0   0   0   1   0   0   0   0

In [19]:
adjl['label']=res
#y=len(adjl)
#adjl.insert(y,'label',res,True)

In [20]:
adjl

    1  2  3  4  5  6  10  12  14  label
1   0  1  0  1  0  0   0   0   0      0
2   1  0  0  0  0  0   0   0   0      1
3   0  0  0  1  1  0   0   0   0      1
4   1  0  1  0  0  0   0   0   0      1
5   0  0  1  0  0  1   1   1   1      0
6   0  0  0  0  1  0   0   0   0      0
10  0  0  0  0  1  0   0   0   0      1
12  0  0  0  0  1  0   0   0   0      1
14  0  0  0  0  1  0   0   0   0      1

In [21]:
adj

    1   2   3   4   5   6   10  12  14
1    0   1   0   1   0   0   0   0   0
2    1   0   0   0   0   0   0   0   0
3    0   0   0   1   1   0   0   0   0
4    1   0   1   0   0   0   0   0   0
5    0   0   1   0   0   1   1   1   1
6    0   0   0   0   1   0   0   0   0
10   0   0   0   0   1   0   0   0   0
12   0   0   0   0   1   0   0   0   0
14   0   0   0   0   1   0   0   0   0

In [22]:
import pandas as pd
store = pd.HDFStore('/content/drive/MyDrive/thesis_data/TenLdata.h5')

store['adjl'] = adjl
store.close()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->axis0] [items->None]

  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block0_items] [items->None]

  after removing the cwd from sys.path.

In [23]:
adjl

    1  2  3  4  5  6  10  12  14  label
1   0  1  0  1  0  0   0   0   0      0
2   1  0  0  0  0  0   0   0   0      1
3   0  0  0  1  1  0   0   0   0      1
4   1  0  1  0  0  0   0   0   0      1
5   0  0  1  0  0  1   1   1   1      0
6   0  0  0  0  1  0   0   0   0      0
10  0  0  0  0  1  0   0   0   0      1
12  0  0  0  0  1  0   0   0   0      1
14  0  0  0  0  1  0   0   0   0      1

In [24]:
#restore
store = pd.HDFStore('/content/drive/MyDrive/thesis_data/Tendata.h5')
store['adj']
store.close()

In [25]:
#common firend

##CF=np.dot(adj,adj) #matrix multiplication
#print(CF,'\n')

##CF=CF - np.diag(np.diag(CF))#matrix off_diagonal

import jax.numpy as jnp
from jax import grad, jit, vmap
from jax import random

NadjN=np.array(adj)
CF=jnp.dot(NadjN,NadjN).block_until_ready() #matrix multiplication
#print(CF,'\n')

CF=CF - np.diag(np.diag(CF))#matrix off_diagonal

CFdf = pd.DataFrame(CF)
store = pd.HDFStore('/content/drive/MyDrive/thesis_data/TenCFdf.h5')
store['CFdf']=CFdf
store.close()
print(CF)

WARNING:absl:No GPU/TPU found, falling back to CPU. (Set TF_CPP_MIN_LOG_LEVEL=0 and rerun for more info.)

[[0 0 1 0 0 0 0 0 0]
 [0 0 0 1 0 0 0 0 0]
 [1 0 0 0 0 1 1 1 1]
 [0 1 0 0 1 0 0 0 0]
 [0 0 0 1 0 0 0 0 0]
 [0 0 1 0 0 0 1 1 1]
 [0 0 1 0 0 1 0 1 1]
 [0 0 1 0 0 1 1 0 1]
 [0 0 1 0 0 1 1 1 0]]

In [26]:

#total_firend

adjc = pd.crosstab(data.src, data.dst)
idx = adjc.columns.union(adjc.index)
up_adj_mtx = adjc.reindex(index = idx, columns=idx, fill_value=0)
up_adj_mtx=up_adj_mtx.to_numpy()

#print(up_adj_mtx)



i=up_adj_mtx.shape[0]
c=np.zeros(shape=(i,i))
for i in range(0,up_adj_mtx.shape[0]):
  for j in range(0,up_adj_mtx.shape[1]):
    if i==j:
      c[i,j]=(sum(up_adj_mtx[i,:])+sum(up_adj_mtx[:,j]))
#print(c)

Cdf = pd.DataFrame(c)
store = pd.HDFStore('/content/drive/MyDrive/thesis_data/TenCdf.h5')
store['Cdf'] =Cdf
store.close()

In [27]:
i=c.shape[0]
TF=np.zeros(shape=(i,i))
for i in range(0,c.shape[0]):
  for j in range(0,c.shape[1]):
    TF[i,j]=c[i,i]+c[j,j]
TF=TF - np.diag(np.diag(TF))#matrix off_diagonal


print(TF)
TFdf = pd.DataFrame(TF)
store = pd.HDFStore('/content/drive/MyDrive/thesis_data/TenTFdf.h5')
store['TFdf'] =TFdf
store.close()

[[0. 3. 4. 4. 7. 3. 3. 3. 3.]
 [3. 0. 3. 3. 6. 2. 2. 2. 2.]
 [4. 3. 0. 4. 7. 3. 3. 3. 3.]
 [4. 3. 4. 0. 7. 3. 3. 3. 3.]
 [7. 6. 7. 7. 0. 6. 6. 6. 6.]
 [3. 2. 3. 3. 6. 0. 2. 2. 2.]
 [3. 2. 3. 3. 6. 2. 0. 2. 2.]
 [3. 2. 3. 3. 6. 2. 2. 0. 2.]
 [3. 2. 3. 3. 6. 2. 2. 2. 0.]]

In [28]:
#while(False):
i=up_adj_mtx.shape[0]
jaccard_similarity=np.zeros(shape=(i,i))
for i in range(0,jaccard_similarity.shape[0]):
  for j in range(0,jaccard_similarity.shape[1]):
    if CF[i,j]==0 or TF[i,j]==0:
      jaccard_similarity[i,j]==0
    else:

      #jaccard_similarity[i,j]=(CF[i,j]/TF[i,j])
      jaccard_similarity[i,j]=jnp.divide(CF[i,j],TF[i,j]).block_until_ready()

jaccard_similarityR=jaccard_similarity - np.diag(np.diag(jaccard_similarity))#matrix off_diagonal without rounding      
#jaccard_similarityR=jaccard_similarityR - np.diag(np.diag(jaccard_similarityR))#matrix off_diagonal
jaccard_similaritydfR = pd.DataFrame(jaccard_similarityR)
store = pd.HDFStore('/content/drive/MyDrive/thesis_data/Tenjaccard_similaritydfR.h5')
store['jaccard_similaritydfR'] = jaccard_similaritydfR
print(np.round(jaccard_similarityR,1))

[[0.  0.  0.2 0.  0.  0.  0.  0.  0. ]
 [0.  0.  0.  0.3 0.  0.  0.  0.  0. ]
 [0.2 0.  0.  0.  0.  0.3 0.3 0.3 0.3]
 [0.  0.3 0.  0.  0.1 0.  0.  0.  0. ]
 [0.  0.  0.  0.1 0.  0.  0.  0.  0. ]
 [0.  0.  0.3 0.  0.  0.  0.5 0.5 0.5]
 [0.  0.  0.3 0.  0.  0.5 0.  0.5 0.5]
 [0.  0.  0.3 0.  0.  0.5 0.5 0.  0.5]
 [0.  0.  0.3 0.  0.  0.5 0.5 0.5 0. ]]

In [29]:
#cosine_similarity

i=up_adj_mtx.shape[0]
cosine_similarity1=np.zeros(shape=(i,i))
for i in range(0,cosine_similarity1.shape[0]):
  for j in range(0,cosine_similarity1.shape[1]):
       cosine_similarity1[i,j]=jnp.sqrt(jnp.dot(c[i,i],c[j,j]).block_until_ready()).block_until_ready()

#print(cosine_similarity1)

In [30]:
i=up_adj_mtx.shape[0]
cosine_similarity=np.zeros(shape=(i,i))
for i in range(0,cosine_similarity.shape[0]):
  for j in range(0,cosine_similarity.shape[1]):
    if (cosine_similarity1[i,j] or CF[i,j])==0 :
       cosine_similarity[i,j]==0
    else:
       cosine_similarity[i,j]=jnp.divide(CF[i,j],cosine_similarity1[i,j]).block_until_ready()

cosine_similarityR=cosine_similarity - np.diag(np.diag(cosine_similarity))#matrix off_diagonal
cosine_similaritydfR = pd.DataFrame(cosine_similarityR)
store = pd.HDFStore('/content/drive/MyDrive/thesis_data/Tencosine_similaritydfR.h5')
store['cosine_similaritydfR'] = cosine_similaritydfR
print(np.round(cosine_similarityR,1))

[[0.  0.  0.5 0.  0.  0.  0.  0.  0. ]
 [0.  0.  0.  0.7 0.  0.  0.  0.  0. ]
 [0.5 0.  0.  0.  0.  0.7 0.7 0.7 0.7]
 [0.  0.7 0.  0.  0.3 0.  0.  0.  0. ]
 [0.  0.  0.  0.3 0.  0.  0.  0.  0. ]
 [0.  0.  0.7 0.  0.  0.  1.  1.  1. ]
 [0.  0.  0.7 0.  0.  1.  0.  1.  1. ]
 [0.  0.  0.7 0.  0.  1.  1.  0.  1. ]
 [0.  0.  0.7 0.  0.  1.  1.  1.  0. ]]

In [31]:
#L1_norm()
 
i=up_adj_mtx.shape[0]
L1_norm1=np.zeros(shape=(i,i))
for i in range(0,L1_norm1.shape[0]):
  for j in range(0,L1_norm1.shape[1]):
       L1_norm1[i,j]=jnp.dot(c[i,i],c[j,j]).block_until_ready()

#print(L1_norm1)

In [32]:
i=up_adj_mtx.shape[0]
L1_norm=np.zeros(shape=(i,i))
for i in range(0,L1_norm.shape[0]):
  for j in range(0,L1_norm.shape[1]):
    if CF[i,j]==0 or L1_norm1[i,j]==0:
       L1_norm[i,j]==0
    else:
       #jaccard_similarity[i,j]=(CF[i,j]/TF[i,j])
       L1_norm[i,j]=jnp.divide(CF[i,j],L1_norm1[i,j]).block_until_ready()

L1_norm=L1_norm - np.diag(np.diag(L1_norm))#matrix off_diagonal
L1_normdf = pd.DataFrame(L1_norm)
store = pd.HDFStore('/content/drive/MyDrive/thesis_data/TenL1_norm.h5')
store['L1_normdf'] = L1_normdf
print(L1_norm)

[[0.   0.   0.25 0.   0.   0.   0.   0.   0.  ]
 [0.   0.   0.   0.5  0.   0.   0.   0.   0.  ]
 [0.25 0.   0.   0.   0.   0.5  0.5  0.5  0.5 ]
 [0.   0.5  0.   0.   0.1  0.   0.   0.   0.  ]
 [0.   0.   0.   0.1  0.   0.   0.   0.   0.  ]
 [0.   0.   0.5  0.   0.   0.   1.   1.   1.  ]
 [0.   0.   0.5  0.   0.   1.   0.   1.   1.  ]
 [0.   0.   0.5  0.   0.   1.   1.   0.   1.  ]
 [0.   0.   0.5  0.   0.   1.   1.   1.   0.  ]]

In [33]:
#edge_weight_measure

i=up_adj_mtx.shape[0]
ewm=np.zeros(shape=(i,i))
for i in range(0,ewm.shape[0]):
  for j in range(0,ewm.shape[1]):
     if i==j:
       ewm[i,j]=jnp.divide(1,np.sqrt(1+c[i,i])).block_until_ready()
       #ewm=np.round(ewm)

#print(ewm)

In [34]:
i=up_adj_mtx.shape[0]
wsum=np.zeros(shape=(i,i))
for i in range(0,wsum.shape[0]):
  for j in range(0,wsum.shape[1]):
    wsum[i,j]=(ewm[i,i]+ewm[j,j])


wsum=wsum - np.diag(np.diag(wsum))
print(np.round(wsum,1))
#wsumdf = pd.DataFrame(wsum)
#store = pd.HDFStore('/content/drive/MyDrive/thesis_data/Tenwsumdf.h5')
#store['wsumdf'] = wsumdf

[[0.  1.3 1.2 1.2 1.  1.3 1.3 1.3 1.3]
 [1.3 0.  1.3 1.3 1.1 1.4 1.4 1.4 1.4]
 [1.2 1.3 0.  1.2 1.  1.3 1.3 1.3 1.3]
 [1.2 1.3 1.2 0.  1.  1.3 1.3 1.3 1.3]
 [1.  1.1 1.  1.  0.  1.1 1.1 1.1 1.1]
 [1.3 1.4 1.3 1.3 1.1 0.  1.4 1.4 1.4]
 [1.3 1.4 1.3 1.3 1.1 1.4 0.  1.4 1.4]
 [1.3 1.4 1.3 1.3 1.1 1.4 1.4 0.  1.4]
 [1.3 1.4 1.3 1.3 1.1 1.4 1.4 1.4 0. ]]

In [35]:
i=up_adj_mtx.shape[0]
wmul=np.zeros(shape=(i,i))
for i in range(0,wmul.shape[0]):
  for j in range(0,wmul.shape[1]):
    wmul[i,j]=jnp.dot(ewm[i,i],ewm[j,j]).block_until_ready()
    

wmul=wmul - np.diag(np.diag(wmul))
print(np.round(wmul,1))
wmuldf = pd.DataFrame(wmul)
store = pd.HDFStore('/content/drive/MyDrive/thesis_data/Tenwmuldf.h5')
store['wmuldf'] = wmuldf

[[0.  0.4 0.3 0.3 0.2 0.4 0.4 0.4 0.4]
 [0.4 0.  0.4 0.4 0.3 0.5 0.5 0.5 0.5]
 [0.3 0.4 0.  0.3 0.2 0.4 0.4 0.4 0.4]
 [0.3 0.4 0.3 0.  0.2 0.4 0.4 0.4 0.4]
 [0.2 0.3 0.2 0.2 0.  0.3 0.3 0.3 0.3]
 [0.4 0.5 0.4 0.4 0.3 0.  0.5 0.5 0.5]
 [0.4 0.5 0.4 0.4 0.3 0.5 0.  0.5 0.5]
 [0.4 0.5 0.4 0.4 0.3 0.5 0.5 0.  0.5]
 [0.4 0.5 0.4 0.4 0.3 0.5 0.5 0.5 0. ]]

In [36]:
#adamic_adar
import networkx as nx
adj1=copy.deepcopy(adj)
for col in adj1.columns:
    adj1[col].values[:] = 0

g = nx.from_pandas_edgelist(data, "src","dst")
a=list(nx.adamic_adar_index(g))
ln=len(a)

adj1=adj1.astype(float)
for i in range(0,ln):
      adj1[a[i][0:2][1]][a[i][0:2][0]]=a[i][2]
adj_adamic_adar=adj1
for i in adj_adamic_adar:
  for j in adj_adamic_adar:
    if(adj_adamic_adar[i][j]!=0):
       adj_adamic_adar[j][i]=adj_adamic_adar[i][j]

adj_adamic_adar_arr=np.array(adj_adamic_adar)
print(np.round(adj_adamic_adar_arr,1))

[[0.  0.  1.4 0.  0.  0.  0.  0.  0. ]
 [0.  0.  0.  1.4 0.  0.  0.  0.  0. ]
 [1.4 0.  0.  0.  0.  0.6 0.6 0.6 0.6]
 [0.  1.4 0.  0.  1.4 0.  0.  0.  0. ]
 [0.  0.  0.  1.4 0.  0.  0.  0.  0. ]
 [0.  0.  0.6 0.  0.  0.  0.6 0.6 0.6]
 [0.  0.  0.6 0.  0.  0.6 0.  0.6 0.6]
 [0.  0.  0.6 0.  0.  0.6 0.6 0.  0.6]
 [0.  0.  0.6 0.  0.  0.6 0.6 0.6 0. ]]

In [37]:
from sklearn import metrics
from sklearn.metrics import pairwise_distances
import sklearn

euclidean_distances=sklearn.metrics.pairwise.euclidean_distances(adj)
euclidean_distancesdf = pd.DataFrame(euclidean_distances)

i=up_adj_mtx.shape[0]
euclidean_similarity=np.zeros(shape=(i,i))
for i in range(0,euclidean_similarity.shape[0]):
  for j in range(0,euclidean_similarity.shape[1]):
    euclidean_similarity[i][j]=1/(euclidean_distances[i][j]+1)


euclidean_similarity=euclidean_similarity - np.diag(np.diag(euclidean_similarity))
print(np.round(euclidean_similarity,1))

[[0.  0.4 0.4 0.3 0.3 0.4 0.4 0.4 0.4]
 [0.4 0.  0.4 0.5 0.3 0.4 0.4 0.4 0.4]
 [0.4 0.4 0.  0.3 0.3 0.5 0.5 0.5 0.5]
 [0.3 0.5 0.3 0.  0.3 0.4 0.4 0.4 0.4]
 [0.3 0.3 0.3 0.3 0.  0.3 0.3 0.3 0.3]
 [0.4 0.4 0.5 0.4 0.3 0.  1.  1.  1. ]
 [0.4 0.4 0.5 0.4 0.3 1.  0.  1.  1. ]
 [0.4 0.4 0.5 0.4 0.3 1.  1.  0.  1. ]
 [0.4 0.4 0.5 0.4 0.3 1.  1.  1.  0. ]]

In [47]:
#Pearson_Correlation_similarity

Pearson_Correlation_similarity= np.corrcoef(adj)
Pearson_Correlation_similarity=Pearson_Correlation_similarity - np.diag(np.diag(Pearson_Correlation_similarity))
print(np.round(Pearson_Correlation_similarity,1))

[[ 0.  -0.2  0.4 -0.3 -0.6 -0.2 -0.2 -0.2 -0.2]
 [-0.2  0.  -0.2  0.7 -0.4 -0.1 -0.1 -0.1 -0.1]
 [ 0.4 -0.2  0.  -0.3 -0.6  0.7  0.7  0.7  0.7]
 [-0.3  0.7 -0.3  0.  -0.1 -0.2 -0.2 -0.2 -0.2]
 [-0.6 -0.4 -0.6 -0.1  0.  -0.4 -0.4 -0.4 -0.4]
 [-0.2 -0.1  0.7 -0.2 -0.4  0.   1.   1.   1. ]
 [-0.2 -0.1  0.7 -0.2 -0.4  1.   0.   1.   1. ]
 [-0.2 -0.1  0.7 -0.2 -0.4  1.   1.   0.   1. ]
 [-0.2 -0.1  0.7 -0.2 -0.4  1.   1.   1.   0. ]]